{
	"TWITTER_CONSUMER_KEY": "eFrUDj30QXyM4kjBeAevUIhik",
	"TWITTER_CONSUMER_SECRET": "9X6Wln6wXFg9yGB574AoA4GIwYFWGNksqhTDFdUrtue3ut5uqI",
	"TWITTER_ACCESS_TOKEN_KEY": "802934085089951746-bnN7ElNsOyRlShcEtnQYh3e6Lrz2mlv",
	"TWITTER_ACCESS_TOKEN_SECRET": "DxjDouf0UGcPY9r76SPxI5ZmqtKf7LqWMbLiqoi1apKpN"
}
